
body {
  font-family: 'Arial', sans-serif;

}


.dropdown-item {
  color: rgb(255, 255, 255);
  background-color: rgb(52, 58, 64);
  margin-left: 1.25rem;
  padding-left: 0.25rem;
  padding-right: 0rem;
  width:75%;
}

.dropdown-menu.show {
  background-color: rgb(52, 58, 64);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

}

.dropdown-item:hover{
  background-color: black;
  color: White;
  width: 95.5%;

}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 5px;
}


.head {
  color: black; /* blue colors for links too */
  text-decoration: none;/* no underline */
}

.head:hover {
  color: black; /* blue colors for links too */
  text-decoration: none;/* no underline */
}

a.nav-link {
  color: rgb(255, 255, 255) !important;
  padding-left: 5px;
  width: 100%;
}

img.img-fluid.image{
  margin-top: 20px;
}

.nav-link:hover{
  color: White;
}

.nav-item:hover {
  background-color: black;

}

.navbar {
  padding-right: 0;
}

.navbar-toggler{
  margin-right: 10px;
}

.dropdown-menu{
  padding: 0 7px 0 0;

  border: 0;

}

.jumbotron {
  padding-top: 15px ;
  padding-bottom: 15px;
  background-color: hsl(213.9, 41.1%, 78%);
  border-radius: 0 !important;
  width: 100%;
}


table.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;

}

table, th, td {
  margin-top: 50px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

td {
  padding: 7px;
}

th {
  padding: 13px;
}


th {
  background-color: hsl(213.9, 41.1%, 78%);

}

h3 {
  text-align: center;
}

table.small-margin  {
  margin-top: 5px;
}

.headline {
  text-align: center;
  color: #4671a8;
  padding-top: 20px;
  padding-bottom: 15px;

}

.small-headline {
  color: #4671a8;
  padding-top: 20px;
  padding-bottom: 5px;

}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.fig-text {
  font-size: 0.8rem;
  font-style: italic;
}


html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background-color: rgb(221, 221, 221);
   color: rgb(136, 156, 199);
   text-align: center;
}

#quote {
  color: #7f6b81;
  
}

#author {
  color: #39333a;
  padding-left: 30px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: auto;
  overflow: hidden;
}

.mySlides {
  display: none;
  border: solid 1px black;
  
   
}

.slide-img {
  padding-bottom: 30px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #222428;
  font-weight: bold;
  font-size: 30px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: -50px;
  border-radius: 3px 3px 3px 3px;
}

.prev {
  left: -50px;
  border-radius: 3px 3px 3px 3px;
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  bottom: -10px;
  width: 100%;
  text-align: center;
  background-color: #222428;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.0s;
  animation-name: fade;
  animation-duration: 5.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}

}

@media only screen and (max-width: 1200px) {
  .slideshow-container{
    display: none;
  }

  .mySlides {
    display: none !important;
  }
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
  .text {
    display: none;
  }

  .numbertext {
    display: none;
  }

  .dot{
    display: none;
  }

  
}